[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core"]

[project]
name = 'speasy'
version = "1.2.4"
description = "A simple Python package to deal with main Space Physics WebServices (CDA, CSA, AMDA and SSC)."
keywords = ["satellite", "plasma-physics", "nasa-data", "amda", "cdpp", "CDF"]
authors = [
    { name = "Alexis Jeandet", email = "alexis.jeandet@member.fsf.org" }
]

maintainers = [
    { name = "Alexis Jeandet", email = "alexis.jeandet@member.fsf.org" }
]

requires-python = ">=3.8"
license = { file = "LICENSE" }
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Physics",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = ['requests', 'pandas', 'diskcache', 'appdirs', 'numpy', 'packaging', 'python-dateutil',
    'astropy', 'astroquery', 'pyistp>=0.4.0', 'tqdm', 'matplotlib', 'urllib3>=1.26.0', "PyYAML"]
[project.urls]
homepage = "https://github.com/SciQLop/speasy"

[project.optional-dependencies]
zstd = ["zstd"]

