appdirs
astroquery
astropy
ddt
diskcache
humanize
matplotlib
numpy
packaging
pandas
pytest
pytest-cov
pytest-runner
python_dateutil
PyYAML
pyzstd
requests
urllib3>=1.26.0
pyistp>=0.7.0
scipy
tqdm
watchdog
certifi
IPython
