pandas
appdirs
diskcache
requests
urllib3>=1.26.0
packaging
numpy
python_dateutil
astropy
pyistp
astroquery
tqdm
matplotlib
PyYAML
sphinx!=5.2.0.post0
sphinx-rtd-theme
argh
numpydoc
sphinx-gallery
nbsphinx
ipympl
ipywidgets
sphinx-codeautolink
sphinxcontrib-apidoc
